

tr {
    cursor: pointer !important;
}

code {
    word-break: break-all;
}

.list-group-item-text {
    word-break: break-all;
}

#title {
    text-align: center;
}

.description {
    * {
        cursor: default !important;
    }
    h4.list-group-item-heading {
        cursor: pointer !important;
    }
    display: block;
    width: 100%;
    position: absolute;
    left: 0px; 
    margin-top: 35px;
    > div {
        background: white;
        display: block;
        > div {
            display: block;
            border: 1px solid #f5f5f5;
            padding: 15px;
        }
    }
    .list-group {
        margin-bottom: 0px;
    }
}


.activated {
    margin-bottom: 35px;
}

th {
    font-style: italic;
}

.name {
    text-align: right;
}

.http-method {
    font-weight: bold;
    border: 1px solid black;
    padding: 3px;
    font-size: 80%;    
}

.http-method-GET {
    background:lightblue;
}

.http-method-POST {
    background: lightgoldenrodyellow;
}

.http-method-PUT {
    background: lightsalmon;
}

.http-method-DELETE {
    background: red;
}

.contract {
    display: block;
    width: 100%;
}


.common-tabs {
    li.active {
        a {
            background: transparent !important;
            text-decoration: underline !important;
            color: #337ab7 !important;
        }
    }
     li {
        a {
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
        }
    }
}

.checkbox {
    position: absolute;
    top: 0px;
    right: 10px;
}

.checkbox-in-group {
    display: inline;
    position: relative;
}

.copy-button {
    position: absolute;
    right: 50px;
    top: 150px;
    z-index: 9999;
    opacity: 0.5;
    &:hover {
        opacity: 1.0;
    }
}


#download {
    font-size: 60%;
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 0px;
}

.opacityHalf {
    opacity: 0.5;
}