

.description {
    display: block;
    width: 100%;
    position: absolute;
    left: 0px; 
    margin-top: 35px;
    div {
        background: white;
        border: 1px solid black;
        display: block;
    }
}

.active {
    margin-bottom: 35px;
}


.name {
    text-align: right;
}

.http-method {
    font-weight: bold;
    border: 1px solid black;    
}

.http-method-GET {
    background:lightblue;
}

.http-method-POST {
    background: lightgoldenrodyellow;
}

.http-method-PUT {
    background: lightsalmon;
}

.http-method-DELETE {
    background: red;
}

