html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
}

footer {
    flex: 0 0 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

pagination {
    display: block;
    text-align: center;
    ul {
        li {
            &.active {
                a {
                    color: white !important;
                    background: lightgray !important;
                }
            }
            a {
                border: none !important;
                color: black !important;
            }
        }
    }
}
